* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app {
  padding: 20px;
}

.post {
  margin-top: 15px;
  padding: 15px;
  border: 2px solid green;
}
.input{
  width: 100%;
  border: 2px solid green;
  padding: 10px 15px;
  margin-top: 15px;
}
